<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="size=20"> 
Clicks on each cells to change its color among {{colors}}
<table>
  <tr ng-repeat="x in range(0, size)">
    <td ng-repeat="y in range(0, size)"
      value="0" ng-click="value = (value+1)%colors.length"
      ng-style="{'background-color': colors[value]}"
    >
      &#9633; <!-- We need this placeholder to accept click event -->
    </td>
  </tr>
</table>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  $scope.range = function(min, max, step) {
    step = step || 1;
    var input = [];
    for (var i = min; i < max; i += step) {
	input.push(i);
    }
    return input;
  };
  $scope.colors = ["white", "red", "yellow", "blue"];
});
</script>
</body>
</html>

